<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">

    {{!-- <link rel="stylesheet" href="./css/styles.css" /> --}}
    <!-- relative path -->
    <link rel="stylesheet" href="/css/styles.css" />
    <!-- absolute path -->

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Enter your neighbouring area to get the weather!</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <div class="align-middle">
            <p id="message-1"></p>
            <p id="message-2"></p>
            <img id="icon-1" class="weather-icon">
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
    {{!-- Make sure that the script runs after all of the elements are available --}}
</body>

</html>