body {
	color: #333333;
	font-family: arial;
	max-width: 650px;
	margin: 0 auto;
	padding: 0 16px;

	/* flexbox */
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	/* vh="viewport height" */
}

.main-content {
	flex-grow: 1;
}

footer {
	color: #888888;
	border-top: 1px solid #eeeeee;
	margin-top: 32px;
	padding: 16px 0;
}

header {
	margin-top: 16px;
	margin-bottom: 48px;
}

h1 {
	font-size: 64px;
	margin-bottom: 16px;
}

header a {
	color: #888888;
	margin-right: 16px;
	text-decoration: none;
}

.portrait {
	width: 200px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 32px;
	padding-bottom: 16px;
	
}

input {
	border: 1px solid #cccccc;
	padding: 8px;
}

button {
	cursor: pointer;
	border: 1px solid #888888;
	background: #888888;
	color: white;
	padding: 8px;
}

.weather-icon {
	padding: 8 0px;
}

.my-link {
	/* margin: 8px; */

	text-align: center;
	padding-top: 16px;
	padding-bottom: 32px;
}

.main-hello {
	margin: 32px;
	padding: 32px;
	text-align: center;
}

.main-big-hello {
	padding-top: 32px;
	padding-bottom: 48px;
	text-align: center;
}

.main-touch {
	padding: 8px;
	text-align: center;
}

.no-highlight {
	color: #888888;
}

.align-middle {
	text-align: center;
	margin: 8px
}